<div class="contactDiv">
    <h2 style="color:white; position:relative ; left:650px; font-size:50px">Contact Us</h2>
    <!-- <img [src] ="ImagePath" style="width: 1450px; height:500px; border: 5px solid rgb(255, 255, 255); position:relative; top:50px ;left:20px ; border-radius:10px;">
    <img [src] ="ImagePath1" style="width: 35px; height:42px; position:absolute; top:300px ;left:985px ; border-radius:5px;"> -->
     
    <!-- <div id="map" class="map"></div> -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2952.453821301777!2d-89.0207128394317!3d42.268834993240674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8808bf2ad9590b75%3A0xc5fadaafaee63438!2sRockford%20University!5e0!3m2!1sen!2sin!4v1632152806409!5m2!1sen!2sin"  allowfullscreen="" loading="lazy" style="position:relative; top:50px; left :50px; width: 1400px; height: 500px; border-radius: 10px;border: 5px solid white"></iframe>
    <div class="detailsDiv">
        <h4 style="color:white; position:relative ; left:700px; top:100px">Contact Details</h4>
        <p style="color:white; position:relative ; left:500px; top:100px">ABCD ROAD,  &nbsp; ZIP :123456 ,  &nbsp; FAX: ABCD@125FAX ,  &nbsp; GMAIL: ABCD@edi.in</p>
    </div>
</div>
