<div class="programDiv">
    <h1 style="position: relative; top:0; left:700px; color:white">Faculty </h1>
    <div class="card1">
        <img [src] ="ImagePath" style="width: 200px; height:200px;  position:relative; top:10px ;left:20px ; border-radius:5px;">
        <div class="container">
          <h4 style="text-align:center;">Mr SWASTIK PANJA</h4> 
          <h4>Assistant Professor</h4> 
        </div>
    </div>
    <div class="card2">
        <img [src] ="ImagePath" style="width: 200px; height:200px;  position:relative; top:10px ;left:20px ; border-radius:5px;">
        <div class="container">
          <h4 style="text-align:center;">MR AMIT KR YADAV</h4> 
          <h4 style="text-align:center;">Assistant Professor</h4> 
        </div>
    </div>
    <div class="card3">
        <img [src] ="ImagePath" style="width: 200px; height:200px;  position:relative; top:10px ;left:20px ; border-radius:5px;">
        <div class="container">
          <h4 style="text-align:center;">MR ARVIND IJA</h4> 
          <h4 style="text-align:center;">Assistant Professor</h4> 
        </div>
    </div>
</div>
