<div class="firstNav">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a routerLink='../app-newsletter' routerLinkActive="active">Newsletter </a></li>
    <li><a routerLink='../app-programs' routerLinkActive="active">Programs</a></li>
    <li><a routerLink='../app-faculty' routerLinkActive="active">Faculty</a></li>
    <li><a routerLink='../app-admission' routerLinkActive="active">Admission</a></li>
    <li><a routerLink='../app-contact' routerLinkActive="active">contact</a></li>
  </ul>
</div>
<div class="groupDiv">

  <div class="mainDiv">
    <div class="myDiv">
        <img [src] ="ImagePath" style="width: 210px;height: 170px; border: 1px solid black; position: relative; top: 05px; left: 5px">
        <div style="position: absolute; top:5px; left: 220px;">
          <h3>11/03/2011 - Launching the MFA in Flimmaking</h3>
          <p>Announcing a unique, 2-year online-brief residency MFA, BFA and Diploma program in Filmmaking led by award-winning independent producer/director/ screenwriter and educator Wayne Crawford. Program Highlights: A personalized film education for the training of director/writer/producers. Emphasis on developing the complete filmmaker well versed in story and story structure. A 10-day residency at our campus in Paris, France. Write, produce and direct 3 films of your...</p>
        </div>
      </div>
 </div>
 <div class="welcomeDiv">
    <h2>Welcome!</h2>
   
    <p style="color:rgb(42, 154, 228) ; width:500px">Are you looking for a degree that is available fully online, that is gong to make an impact in your life and in your job?</p>
    <p style="color:rgb(42, 154, 228);width:500px">Are you looking for spmething different , modern , truly international yet adaptd to you and your culture?</p>
    <p>Horizons University has the solution for you.</p>
    <p style="width:500px">Our mission is to provide eduction experience that fits our students needs in any part of the world and contribute to their persinal and prefessional fillfillment.</p>
    <p style="width:500px">We provide programs that arwe flexible intime, that take nto account the persons experience and that are affordable. We are persons experience and that are affordable. We are specilized in differnet wedctaion but we also offer on campus programs. </p>
 
 </div>
 <img [src] ="ImagePath1" style="width: 80px;height: 70px; position: relative; top: 70px; left: 5px; z-index: 1;">
 <div class="lastDiv">
    <h4 style="color: rgb(47, 116, 201); position: absolute;left: 140px; ">Click here for detailed course information</h4>
 </div>

 <div class="campusDiv">
    <h2 style="padding-left: 10px;">Campus Study</h2>
    <p style="height:100% ; width: 320px;padding-left: 10px; ">Our on-campus programs allow you to interact with faculty and other students during residency periods and complete your work online.It is another flexible solution thta will certainly enhance your professional life.</p>
    <img [src] ="ImagePath2" style="width: 250px;height: 150px; position: absolute; top: 20px; left: 340px; border:1px solid black;">
 </div>



 <div class="onlineDiv">
   <img [src] ="ImagePath3" style="width: 250px;height: 150px; position: absolute; top: 15px; left: 10px; border:2px solid black;">
   <div style="position: absolute; left:260px;">
    <h2 style="padding-left: 15px;">Online Study</h2>
    <p style="height:100% ; width: 320px; padding-left: 15px;">Our online programs allow you to work at your own space while you keep your job and and your activities. You can pursue a quality education without leaving home.This option is laso less costly and availabe in any in the world where you live.</p>
  </div>
</div>


<div class="lastDiv1">
  <img [src] ="ImagePath4" style="width: 180px;height: 100px; position: absolute; top: 5px; left: 30px; opacity: 0.5">
  <h3 style="position: absolute; left:240px; top: 35px; color: rgb(85, 85, 85);">Experience the new virtual campus</h3>
  <div style="background-color: white; width: 550px; height: 100px; position: relative; top:90px; left:20px; border:1px solid black; border-radius: 5px;">
    <p style="width:500px; position: relative; left: 20px; ">Horixons University is one of the rare few universities in the world to offer entire course modules in a virtual campus, along with live presentations form keynote speakers, facilities learning , communication and interaction amongst students. <span style="color:blue;">Read more...</span></p>
  </div>
</div>

<div class="loginDiv" style="color:white;" >
     <h3 style="position: relative; left: 35px;font-size:25px;">Online Learing Portal</h3>
     <div style="position: relative;left: 40px">
      <label >User</label>
      <input type="text" style="position: relative; left:10px">
     </div> 

     <div style="position: relative;left: 40px; top:10px">
      <label>Passowrd</label>
      <input type="password" style="position: relative; left:10px">
     </div>

     <h4 style="position: relative; left: 38px;"><a href="#forget" style="color: white">forget password?</a></h4>
     <button mat-stroked-button color="primary" style="position: absolute; left: 170px; top: 145px; border-radius: 5px;">LOGIN</button>
</div>



</div>
