<div class="news">
        <h1 style="text-align:center; color:white;">Newsletter</h1>
        <div class="storyDiv">
            <h3 style="text-align:center; color:rgb(169, 216, 248);position: relative; top: 2px;">What is new?</h3>
            <p style="position: relative; top: 2px; left: 5px;">Just like Web and the entire web ecosystem, Angular is continuously improving. Angular balances continuous improvement with a strong focus on stability and making updates easy. Keeping your Angular application up-to-date enables you to take advantage of leading-edge new features, as well as optimizations and bug fixes.</p>
         </div>
         <div class="storyDiv1">
            <h3 style="text-align:center; color:rgb(169, 216, 248);position: relative; top: 2px;">What is new?</h3>
            <p style="position: relative; top: 2px; left: 5px;">Just like Web and the entire web ecosystem, Angular is continuously improving. Angular balances continuous improvement with a strong focus on stability and making updates easy. Keeping your Angular application up-to-date enables you to take advantage of leading-edge new features, as well as optimizations and bug fixes.</p>
         </div>
         <div class="storyDiv2">
            <h3 style="text-align:center; color:rgb(169, 216, 248);position: relative; top: 2px;">What is new?</h3>
            <p style="position: relative; top: 2px; left: 5px;">Just like Web and the entire web ecosystem, Angular is continuously improving. Angular balances continuous improvement with a strong focus on stability and making updates easy. Keeping your Angular application up-to-date enables you to take advantage of leading-edge new features, as well as optimizations and bug fixes.</p>
         </div>

         <div class="subsDiv">
              <h3 style="color: white; position: relative;left: 100px;">Subscribe our Newsletter</h3>
              <input type="email" placeholder="Email" style="width:300px ; height:30px"> &nbsp;
              <button type="submit" style="width:100px ; height:30px">Subscribe</button>
         </div>

    
    
</div>
