<div class="admissionDiv">
    <h1 style="text-align:center; color:white">Register</h1>
    <form >
        <div class="container">
          <p>Please fill in this form to register.</p>
          <hr>
      
          <label ><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" id="email" required>

          <label ><b>Name</b></label>
          <input type="text" placeholder="Enter Name" name="name" id="name" required>

          <label ><b>Address</b></label>
          <input type="text" placeholder="Enter Address" name="address" id="address" required>

          <label ><b>Contact</b></label>
          <input type="text" placeholder="Enter Contact" name="contact" id="contact" required>

          <label ><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="password" required>

      
          <hr>
         
      
          <button type="button" class="registerbtn">Register</button>
        </div>
    </form>

</div>
